@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background: #E3F2FD;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230408/pngtree-clear-sky-white-clouds-blue-sky-background-image_2174284.jpg");
    background-size: cover;
}

.search-btn{
    background-color: blue;
    color: rgb(74, 134, 156);
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease;
}

.search-btn:active{
    background-color: #4c7697;
}

.city-input {
    width: 550px;
    background-color: rgba(255, 255, 255, 0.5);; 
    border: none; 
    padding: 10px; 
}

h1{
    color: #fff;
    padding: 18px;
    text-align: center; 
    font-size: 28px;
    background: rgba(82, 114, 240, 0.3);
}
.container{
    display: flex;
    gap: 35px;
    padding: 30px;
}
.weather-input{
    width: 550px;
}
.weather-input input{
    width: 100%;
    height: 46px;
    outline: none;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    font-size: 1.07rem;
    border-radius: 4px;
    border: 1px solid #ccc; 
}

.weather-input .saparator{
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-input .saparator::before{
    content: "or";
    color: #6c757d;
    font-size: 1.18rem;
    padding: 0 15px;
    margin-top: -4px;
    background:  #e3f2fd;
    
}
.weather-input button{
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
    background: #5372F0;
}
.weather-input .location-btn{
    background-color: #6f757d;
}
.weather-data{
    width: 100%;
}

.current-weather{
    background: rgba(82, 114, 240, 0.6);
    color: #fff;
    display: flex;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    justify-content: space-between;
}

.current-weather h2{
    font-size: 1.7rem;
}

.weather-data h4{
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}

.current-weather .icon img{
    max-width: 120px;
    margin-top: -15px;
}

.current-weather .icon h4{
    margin-top: -10px;
    text-transform: capitalize;
    margin-top: 10px;
}

.days-forecast h2{
    font-size: 1.5rem;
    margin: 20px;
}

.weathr-card{
    display: flex;
    gap: 20px;

}

.weathr-card .card{
    list-style: none;
    color: #fff;
    padding: 18px 16px;
    border-radius: 5px;
    background: rgba(82, 114, 240, 0.6);
    width: calc(100%/ 5);
}

.weathr-card .card img{
    max-width:  70px;
    margin:  5px 0 -12px 0;
}

/* Media Query ************************************************************************ */

@media (max-width: 1400px) {
    .weather-data .current-weather {
        padding: 20px;
    }
    .weathr-card {
        flex-wrap: wrap;
    }
    .weathr-card .card {
        width: calc(100% / 4 - 15px);
    }
}

@media (max-width: 950px) {
    .weathr-card .card {
        width: calc(100% / 3 - 15px);
    }
    .weather-input {
        width: 450px;
    }
}

@media (max-width: 750px) {
    .container {
        flex-wrap: wrap;
        padding: 15px;
    }
    .weather-input {
        width: 100%;
    }
    .weathr-card .card {
        width: calc(100% / 2 - 10px);
    }
}

