@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100; 200; 400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.today{
    border:1px solid #eee;
    height: 230px;
    width:250px;
    border-radius: 10px;
    padding-left:12px;
}

body{
    background: url("https://c1.wallpaperflare.com/preview/40/488/33/clouds-sky-weather-atmosphere-air-landscape.jpg");
    font-size: 'poppins',sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.day{
    background: rgba(24,24,50,0.4);
    border-radius: 10px;
    height: 28px;
    width: 60px;
    text-align: center;
}

.future-forcast{
    background: rgba(24,24,27,0.8);
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    overflow-x: auto; 
}

.weather-forcast-item{
    display: flex;
    flex-direction: column;
    align-items : 'center';
    justify-content:  center;
    margin : 0 10px;
    border-radius:10px; 
    padding: 15px;
    border: 1px solid;
}    

.weather-forcast{
    display: flex;
    overflow-x: auto;
}

.weather-forcast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border-radius: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
}

.search-container {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
}

.search-bar {
    width: 300px;
    height: 50px; 
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    background: rgba(24,24,27,0.8);
    color: white;
    font-size: 16px;
    margin-right: 10px; 
}

.button:hover {
    background-color: #0056b3;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    background: #1C9DF4;
    padding: 20px;
    cursor: pointer;
    border: solid 1px;
}


@media (max-width: 768px) {
    .search-bar {
        width: 80%;
        margin-bottom: 10px; /* Add space below search bar on smaller screens */
        margin-right: 0; /* Remove right margin */
    }
    .button {
        width: 80%; /* Make button width same as search bar */
    }
}

@media (max-width: 600px) {
    .search-bar {
        width: 100%; /* Full width on very small screens */
    }
    .button {
        width: 100%; /* Full width on very small screens */
    }
}
